// FONTS
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Roboto:400,700');

$mainFont: 'Roboto', sans-serif;
$subFont: 'Lato', sans-serif;

//COLORS
// WHITE
$white: #fcfcfc;
// BEIGE
$beige: #F2E8D1;
// BLACK
$black: #0E0F0F;
// GREY
$darkGrey: #272727;
$grey: #414142;
// BROWN
$brown: #A4866B;
// YELLOW
$yellow: #FFCC33;
$darkYellow: #F1D596;
// ORANGE
$orange: #E29A57;

// MARGIN & PADDING
$margin: 30px;
$padding: 30px;